@CHARSET "ISO-8859-1";

body {
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
	margin: 50px 0;
}

.page-header {
	padding-bottom: 9px;
	margin: 0px 0 20px;
	border-bottom: 1px solid #eee;
}

.margin-top-25 {
	margin-top: 25px
}

.margin-top-35 {
	margin-top: 35px
}

.margin-top-50 {
	margin-top: 50px
}

.margin-top-20 {
	margin-top: 20px
}

.margin-bottom-20 {
	margin-bottom: 20px
}

.margin-bottom-0 {
	margin-bottom: 0px
}

.margin-bottom-60 {
	margin-bottom: 60px
}

.margin-top-minus-5 {
	margin-top: -5px
}

.margin-top-15 {
	margin-top: 15px
}

.margin-bottom-5 {
	margin-bottom: 5px;
}

.margin-bottom-15 {
	margin-bottom: 15px
}

.margin-top-5 {
	margin-top: 5px
}

.margin-left-5 {
	margin-left: 5px
}

.margin-left-minus-5 {
	margin-left: -5px
}

.padding-0-4 {
	padding: 0px 4px;
}

.padding-5 {
	padding: 5px;
}

.padding-10 {
	padding: 10px;
}

.botonPieza {
	padding: 2px 17px 2px 3px;
}

.bgcolor-fff {
	background-color: #fff;
}

#tableUltimosPacientes tbody tr {
	cursor: pointer
}

.dt-right {
	text-align: right
}

.detalle {
	
}

.jqplot-data-label {
	color: #ddd
}

.franja {
	font-weight: bold
}